<!DOCTYPE html>
<%- include('../partial/header.ejs') %>
<body>
    <%- include('../partial/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Welcome to our website. Here we share our journey, values, and mission. We are dedicated to providing the best services to our community...</p>
    </div>
    <%- include('../partial/footer.ejs') %>
</body>
</html>
 